numpy
pandas
scikit-learn
scipy
statsmodels
geopandas
rasterio
shapely
cartopy
folium
scikit-image
pyvista
pyperclip
notebook
jupyterlab
ruptures
pykrige
opencv-python
mplstereonet
streamlit
